<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aicp.extras"
    android:versionCode="2"
    android:versionName="2.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <uses-library android:name="org.apache.http.legacy" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:exported="true" />

        <activity
            android:name=".SubSettingsActivity"
            android:label="@string/app_name"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".changelog.ChangelogActivity"
            android:theme="@style/ChangelogTheme"
            android:label="@string/changelog_name">
            <intent-filter>
                <action android:name="com.aicp.extras.ViewChangelog" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HiddenAnimActivity"
            android:label="@string/hidden_anim_activity_title"
            android:excludeFromRecents="true" />

        <activity
            android:name=".SystemappRemover"
            android:label="@string/system_app_remover_title">
            <intent-filter>
                <action android:name="com.aicp.extras.ViewSystemAppRemover" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fragments.Weather"
            android:label="@string/weather_config_title"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.aicp.extras.fragments.ViewWeather" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".romstats.AnonymousStats"
            android:label="@string/anonymous_statistics_title"
            android:exported="false" >
        </activity>

        <activity
            android:name=".fragments.SleepMode"
            android:label="@string/sleep_mode_title"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.aicp.extras.fragments.ViewSleepMode" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".romstats.ReportingServiceManager"
            android:enabled="true"
            android:exported="false"
            android:label="ReportingServiceManager" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.settings.action.TRIGGER_REPORT_METRICS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".romstats.ReportingService"
            android:enabled="true"
            android:exported="false"
            android:label="ReportingService" >
        </service>

        <service android:name=".romstats.StatsUploadJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE" />


        <receiver android:name="com.aicp.extras.utils.OnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.aicp.extras.utils.GamingModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.GAMING_MODE_TURN_OFF" />
                <action android:name="android.intent.action.GAMING_MODE_TURN_ON" />
            </intent-filter>
        </receiver>

        <!-- Sleep Mode -->
        <receiver android:name="com.aicp.extras.fragments.SleepModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SLEEP_MODE_TURN_OFF" />
            </intent-filter>
        </receiver>

        <!-- DUI -->

        <!-- System action picker -->
        <activity android:name="com.aicp.extras.smartnav.ActionPickerDialogActivity"
                android:theme="@style/Theme.SmartBar.Dialog"
                android:label="@string/choose_action_title"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Icon pack picker -->
        <activity android:name="com.aicp.extras.smartnav.IconPickerActivity"
                android:theme="@style/Theme.SmartBar.Dialog"
                android:label="@string/icon_pack_picker_dialog_title"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Icon picker proxy for gallery -->
        <activity android:name="com.aicp.extras.smartnav.IconPickerGallery"
            android:theme="@style/Theme.SmartBar.Dialog"
            android:label="@string/icon_pack_picker_dialog_title"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Icon pack grid -->
        <activity android:name="com.aicp.extras.smartnav.IconPackGridActivity"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name=".search.AeSearchIndexablesProvider"
            android:authorities="com.aicp.extras"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

    </application>
</manifest>
